@import '../../scss/mixins';
@import '../../scss/variables';

.notification {
  @include flex-center;
  position: relative;
  transition: $transition-sm;
  cursor: pointer;
  border-left: 1px solid $grey-light-2-color;
  border-right: 1px solid $grey-light-2-color;

  &__image {
    svg {
      width: 17px;
      height: 17px;
    }
  }

  &__count {
    width: 15px;
    height: 15px;
    @include flex-center;
    @include abs-position(auto, 16px, 23px, auto);
    border-radius: 50%;
    background-color: $red-color;

    &--number {
      font-weight: 600;
      font-size: 9px;
      line-height: 13px;
      color: $white-color;
    }
  }

  &:hover {
    background-color: $grey-light-color;
  }

  @media (max-width: getBreackpoint('lg')) {
    &__count {
      @include abs-position(auto, 11px, 19px, auto);
    }
  }

  @media (max-width: getBreackpoint('md')) {
    &__count {
      @include abs-position(auto, 9px, 17px, auto);
    }
  }

  @media (max-width: getBreackpoint('vsm')) {
    &__image {
      svg {
        width: 15px;
        height: 15px;
      }
    }

    &__count {
      @include abs-position(auto, 4px, 12px, auto);
  
      &--number {
        font-size: 8px;
        line-height: 13px;
      }
    }
  }
}