@import '../../../../scss/mixins';
@import '../../../../scss/variables';

%list-item {
  width: 100%;
  @include flex-align-center;
  padding: 20px 25px;
  cursor: pointer;
  transition: $transition-sm;
  border-bottom: 2px solid $grey-light-color;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: $blue-darl-color;
}

.panel-list-item {
 @extend %list-item;

 &__image {
   width: 16px;
   height: 16px;
   margin-right: 12px;

   svg path {
    fill: $grey-light-3-color;
   }
 }

 &-active {
  @extend %list-item;
  position: relative;
  color: $blue-color;
  background-color: $grey-light-color;

  &:after {
    content: '';
    @include abs-position(0, auto, auto, 0);
    width: 4px;
    height: 100%;
    background-color: $blue-color;
  }

  svg path {
    fill: $blue-color;
   }
 }

 &:hover {
   background-color: $grey-light-color;
 }
}