@import '../../scss/variables';

.panel-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 285px 1fr;
  background-color: $grey-light-color;

  &__main {
    display: grid;
    grid-template-rows: 67px 1fr;
  }

  &__content {
    padding: 28px;

    &--main {
      height: 100%;
      display: grid;
      grid-template-columns: 335px 1fr;
      column-gap: 30px;
      margin-top: 30px;
    }
  }
}