@import '../../../scss/variables';
@import '../../../scss/mixins';

.orders-tab {
  width: 100%;
  padding: 28px;
  position: relative;
  border-radius: 9px;

  &__main {
    margin-top: 30px;
    background-color: $white-color;

    &--header {
      @include flex-align-center;
      justify-content: space-between;
      padding: 16px 20px;
    }

    &--options {
      display: flex;

      & > * {
        &:not(:last-child) {
          margin-right: $space-md;
        }
      }
    }

    &--button {
      width: 95px;
      height: 30px;
    }

    &--footer {
      @include flex-center;
      padding: 20px;
    }
  }
}