@import '../../../scss/variables';

.panel-title {
  font-weight: 400;
  font-size: 29px;
  line-height: 33px;
  color: $blue-darl-color;

  @media (max-width: getBreackpoint('md')) {
    font-size: 24px;
    line-height: 25px;
  }

  @media (max-width: getBreackpoint('vsm')) {
    font-size: 20px;
    line-height: 23px;
  }
}