@import '../../../scss/variables';
@import '../../../scss/mixins';

%setting-label {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: $black-color;
}

.car-setting-form {
  &__double-inputs {
    @include flex-align-center;
    margin-bottom: $space-md;

    &--wrapper {
      width: 100%;
      max-width: 320px;

      input {
        margin: 0;
      }

      &:not(:last-child) {
        margin-right: 21px;
      }
    }

    &--label {
      @extend %setting-label;
    }
  }

  &__categories {
    margin-bottom: $space-sm;
  }

  &__car-colors {
    width: 100%;
    max-width: 320px;

    &--label {
      @extend %setting-label;
    }

    &--inputs-wrapper {
      @include flex-align-center;

      button {
        margin-left: 8px;
      }

      input {
        margin: 0;
      }
    }
  }

  &__text-area {
    margin-top: 30px;
    max-width: 661px;
  }
}

.ant-upload {
  padding: 15px;
}