@import '../../../scss/variables';
@import '../../../scss/typography';
@import '../../../scss/mixins';

.panel-footer {
  display: flex;
  justify-content: space-between;
  padding: 27px;
  background-color: $white-color;

  &__list {
    @include flex-align-center;

   &--item {
     @extend %button-rules;
     cursor: pointer;
     font-weight: 400;
     font-size: 14px;
     line-height: 16px;
     color: $blue-color;

     &:not(:last-child) {
       margin-right: $space-md;
     }
   } 
  }

  &__copyright {
    font-weight: 500;
    font-family: RobotoMedium;
    font-size: 14px;
    line-height: 16px;
    color: $grey-strong-2-color;
  }
}