@import './variables';

%button-rules {
  &:hover, &:focus {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }

  &:disabled {
    background: none;
    background-color: $grey-color;
    cursor: not-allowed;
  }
}

%label {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: $black-light-color;
}