@import '../../scss/variables';
@import '../../scss/mixins';

.filter-row {
  width: 100%;
  @include flex-align-center;
  justify-content: space-between;
  padding: $space-md 20px;
  border-bottom: 1px solid $grey-light-color;

  &__selects {
    display: flex;
    margin-right: $space-sm;

    & > * {
      &:not(:last-child) {
        margin-right: $space-md;
      }
    }
  }

  &__button {
    width: 95px;
    height: 30px;
  }

  @media (max-width: 1300px) {
    &__selects {
      & > * {
        &:not(:last-child) {
          margin-right: $space-sm;
        }
      }
    }
  }

  @media (max-width: getBreackpoint('lg')) {
    padding: $space-md;
    flex-wrap: wrap;
    align-items: flex-start;

    &__selects {
      display: flex;
      flex-wrap: wrap;
  
      & > * {
        margin-bottom: $space-sm;
      }
    }

    &__button {
      width: 110px;
    }
  }

  @media (max-width: getBreackpoint('md')) {
    padding: $space-sm;
  }

  @media (max-width: getBreackpoint('sm')) {
    &__button {
      height: 25px;
    }

    &__selects {
      display: flex;
      flex-wrap: wrap;
  
      & > * {
        margin-bottom: 4px;
      }
    }
  }
}